.component-container {
  display: flex;
  position: relative;
}
.component-image {
  width: 300px;
  height: 376px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.component-root-class-name {
  top: 35px;
  right: 46px;
  position: absolute;
}
@media(max-width: 991px) {
  .component-image {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
}
@media(max-width: 479px) {
  .component-image {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
}
