.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-home {
  text-decoration: none;
}
.navigation-links-publications {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-conferences {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-teaching {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-home {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-publications {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-conferences {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-teaching {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
