.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-home {
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline none;
}
.navigation-links-publications {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: underline none;
}
.navigation-links-conferences {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: underline none;
}
.navigation-links-teaching {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: underline none;
}
















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-home {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-publications {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-conferences {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-teaching {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.publications-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.publications-header {
  top: 45px;
  right: -3px;
  width: 100%;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.publications-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1.5px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.publications-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.publications-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.publications-navlink {
  display: contents;
}
.publications-component1 {
  text-decoration: none;
}
.publications-container1 {
  width: 1013px;
  height: 603px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.publications-text01 {
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .publications-nav {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .publications-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .publications-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .publications-container1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .publications-header {
    padding: var(--dl-space-space-unit);
  }
  .publications-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .publications-container1 {
    flex-direction: column;
  }
}
