.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-home {
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline none;
}
.navigation-links-publications {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: underline none;
}
.navigation-links-conferences {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: underline none;
}
.navigation-links-teaching {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: underline none;
}
















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-home {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-publications {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-conferences {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-teaching {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.teaching-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.teaching-header {
  top: 45px;
  right: -3px;
  width: 100%;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.teaching-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1.5px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.teaching-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.teaching-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.teaching-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teaching-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.teaching-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.teaching-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teaching-container2 {
  width: 1248px;
  height: 553px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.teaching-text02 {
  font-style: normal;
  font-weight: 600;
}
.teaching-text09 {
  font-weight: 600;
}
.teaching-text10 {
  font-style: normal;
  font-weight: 700;
}
@media(max-width: 1200px) {
  .teaching-container {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    flex-direction: column;
  }
  .teaching-container2 {
    height: 553px;
  }
  .teaching-text02 {
    box-shadow: inherit;
    font-style: normal;
    font-weight: 600;
  }
}
@media(max-width: 991px) {
  .teaching-nav1 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .teaching-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .teaching-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .teaching-nav {
    display: none;
  }
  .teaching-icon {
    display: flex;
  }
  .teaching-container2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .teaching-header {
    padding: var(--dl-space-space-unit);
  }
  .teaching-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .teaching-container2 {
    flex-direction: column;
  }
}
